<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=FontName">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="sidebar">
      <div id="logo">
        <%= link_to root_path do %>

        <% end %>
      </div>
        <ul>
          <li class="category"> Website</li>
          <li><%= link_to "Blog",root_path %></li>
          <li><%= link_to "About", about_path %></li>
        </ul>
        <ul>
          <li><a href="http://www.geeksforgeeks.org/">Geeks for Geeks</a></li>
          <li><a href="https://www.instagram.com/?hl=en">Instagram</a></li>
          <li><a href="https://github.com/">Github</a></li>
          <li><a href="https://mail.google.com">Gmail</a></li>

          </ul>
          <p class="sign_in">Admin Login</p>
      </div>

      <div id="main_content">
        <div id="header">
          <p>All Posts</p>
          <% if user_signed_in? %>
          <div class="buttons">
            <button class="button"><%= link_to "New Post", new_post_path %></button>
            <button class="button">Log out</button>
          </div>
          <%end%>
        </div>

      <% flash.each do |name , msg| %>
      <%= content_tag(:div , msg , class:"alert") %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
